<div class="row">
  
  <div class="col-md-10 col-md-offset-1">

    <div class="brand-header">
      <h2><strong>Work<i class="fa fa-diamond" aria-hidden:"true"></i>Gems</strong></h2>
      <h2>Add New Gem</h2>      
    </div>

    <div class="jumbotron brand-body"> 

      <%= render 'form' %>

      <br>

      <%= link_to 'Back', samples_path %>

    </div>
  </div>
</div>
