<div class="row">
  
  <div class="col-md-10 col-md-offset-1">

    <div class="brand-header">
      <h2><strong>Work<i class="fa fa-diamond" aria-hidden:"true"></i>Gems</strong></h2>
      <h2>Sign Up</h2>
      <h2>
        <% if params[:plan] == '2' %>
          Pro Account: $10 per month
          <h4>Sign up and get <strong>unlimited</strong> categories.</h4>
        <% else %>
          Free Starter Account
          <h4>Sign up for <strong>free</strong> and get <strong>5</strong> categories.</h4>
        <% end %>
      </h2>
      
      
    </div>

    <div class="jumbotron brand-body"> 

      <% if params[:plan] == '2' %>
        <%= render "pro_form" %>
      <% else %>
        <%= render "basic_form" %>
      <% end %>

      <br>

      <%= render "devise/shared/links" %>

      <hr>
    </div>
  </div>
</div>