<div class="row">
	<div class="col-md-10 col-md-offset-1">

		<div class="brand-header">
			<h2><strong>Work<i class="fa fa-diamond" aria-hidden:"true"></i>Gems</strong></h2>
			<h2>About Us</h2>
			<h4>Why we created this app.</h4>
		</div>
		
		<div class="jumbotron brand-body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, repellat, facilis! Dolore alias sapiente, aperiam veniam excepturi, dolor doloremque quibusdam sunt laboriosam exercitationem cupiditate maxime odit, minus et molestias magnam!
		</div>
		
	</div>
</div>