/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";


body {
  background: image-url('wood_copy.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  letter-spacing: 3px;
}

h1 {
  font-weight: 400;
}

h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 10px;

}

label {
    font-weight: normal !important;
}

ul {
    list-style: circle outside none;
}


/*Branding*/

.brand {
	background-color: #C43f04;
	border-color: #c43f04;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1.5px;
}

.brand-btn-home {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 80%;
  background: rgba(207, 64, 1, 1);
  background-image: -webkit-linear-gradient(top, rgba(207, 64, 1, 1), rgba(207, 64, 1, 1));
  background-image: -moz-linear-gradient(top, rgba(207, 64, 1, 1), rgba(207, 64, 1, 1));
  background-image: -ms-linear-gradient(top, rgba(207, 64, 1, 1), rgba(207, 64, 1, 1));
  background-image: -o-linear-gradient(top, rgba(207, 64, 1, 1), rgba(207, 64, 1, 1));
  background-image: linear-gradient(to bottom, rgba(207, 64, 1, 1), rgba(207, 64, 1, 1));
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  // text-shadow: 1px 1px 3px #666666;
/*   -webkit-box-shadow: 2px 4px 1px #666666;
  -moz-box-shadow: 2px 4px 1px #666666;
  box-shadow: 2px 4px 1px #666666; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100px;
  // padding: 2% 2%;
  border: solid #cf3f01 1px;
  text-decoration: none;
  box-shadow: 10px 20px 5px rgba(0,0,0, .5);
}

.brand-btn-home:hover {
  background: rgba(255,173,10, 1) 90%;
  background-image: -webkit-linear-gradient(top, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  background-image: -moz-linear-gradient(top, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  background-image: -ms-linear-gradient(top, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  background-image: -o-linear-gradient(top, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  background-image: linear-gradient(to bottom, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  text-decoration: none;
  color: #cf4001;

}

.brand-header {
  text-align: center;
  background-color: rgba(207, 64, 1, .9);
  border-color: #c43f04;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /*box-shadow: 10px 20px 5px rgba(0,0,0, .5);*/
}

.brand-header-show {
  text-align: center;
  background-color: #C43f04;
  border-color: #c43f04;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  padding: 10px;
  /*border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/
}



.brand hr {
  background-color: #c43f04;
}
.brand-body {
  background-color: rgba(255,255,255,.7);
  border-color: #c43f04;
  color: #c43f04;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
/*  box-shadow: 10px 20px 5px rgba(0,0,0, .5);
*/
}

.brand-body-show {
  background-color: rgba(255,255,255,.7);
  border-color: #c43f04;
  color: #c43f04;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  /*border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;*/
}

.brand-image-show {
  margin: 2% auto;
  padding: auto 2%
}

.brand-header-plan {
  text-align: center;
  background-color: #C43f04;
  border-color: #c43f04;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  height: 120px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.brand-body-plan {
  background-color: rgba(255,255,255,.7);
  border-color: #c43f04;
  color: #c43f04;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  height: 80px;
  padding: 5% 5%;
}

.brand-footer-plan {
  text-align: center;
  background-color: rgba(255,255,255,.7);
  border-color: #c43f04;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  height: 100%;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 5%;
}

.brand-jumbotron {
  text-align: center;
  background-color: rgba(207, 64, 1, 1);
  border-color: #c43f04;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  padding: 5%;
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 20px 5px rgba(0,0,0, .5);
}

.brand-section {
  text-align: center;
  background-color: #C43f04;
  border-color: #c43f04;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/*Brand Button - Start*/

.btn-brand {
  margin: auto;
  background: rgba(196,63,4, .5);
  background-image: -webkit-linear-gradient(top, rgba(196,63,4, 1), rgba(196,63,4, 1));
  background-image: -moz-linear-gradient(top, rgba(196,63,4, 1), rgba(196,63,4, 1));
  background-image: -ms-linear-gradient(top, rgba(196,63,4, 1), rgba(196,63,4, 1));
  background-image: -o-linear-gradient(top, rgba(196,63,4, 1), rgba(196,63,4, 1));
  background-image: linear-gradient(to bottom, rgba(196,63,4, 1), rgba(196,63,4, 1));
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 2px 4px 1px #666666;
  -moz-box-shadow: 2px 4px 1px #666666;
  box-shadow: 4px 8px 5px rgba(0,0,0, .5); 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100px;
  /*border: solid #cf3f01 1px;*/
  text-decoration: none;
}

.btn-brand:hover {
  background: rgba(255,173,10, 1) 90%;
  background-image: -webkit-linear-gradient(top, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  background-image: -moz-linear-gradient(top, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  background-image: -ms-linear-gradient(top, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  background-image: -o-linear-gradient(top, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  background-image: linear-gradient(to bottom, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  text-decoration: none;
  color: #cf4001;
}

/*Brand Button - Finish*/


.brand-text {
	color: #C43f04;
}


/* navbar */

.navbar {
  background-color: #C43f04;
	border-color: #c43f04;
	letter-spacing: 1.5px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse:hover .navbar-brand:hover{
    color: black;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li:hover > a:hover{
    color: black;
}
.navbar-inverse .navbar-nav > li > a:active, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: white;
    border-color: white;
    color: #c43f04;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(255,173,10, .5);
}


.navbar-inverse .navbar-toggle {
    border-color: rgba(255,173,10, .5);
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #c43f04;
    background-color: #fff;
}

/*General*/

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-alert {
  background-color: rgba(255,255,255,.7);
  border-color: #c43f04;
  color: #c43f04;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
}

.alert-error {
  background-color: rgba(255,255,255,.7);
  border-color: #c43f04;
  color: #c43f04;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
}

.alert-notice {
  background-color: rgba(255,255,255,.7);
  border-color: #c43f04;
  color: #c43f04;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
}

.alert-success {
  background-color: rgba(255,255,255,.7);
  border-color: #c43f04;
  color: green;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
}

.business-card {
  background-color: rgba(255,255,255,1);
  border-color: #c43f04;
  color: #c43f04;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 2% auto;
  padding: 5%;
  width: 80%;
  height: 80%;
}

.business-card-image {
  background-color: rgba(255,255,255,1);
  border-color: #c43f04;
  color: #c43f04;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  margin: 5% auto;
  padding: 0;
  width: auto;
  height: auto;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.display-3 {
    font-size: 6vmax;
    font-weight: 400;
    line-height: 1.1;
}


.jumbotron {
  padding: auto;
}

.jumbotron > hr {
    border-top-color: #C43f04;
}


/*MEDIA QUERIES*/

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

